.file-input {
    display: none;
}

div.file-upload{
    height: 100px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

div.button-upload{
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    span{
        margin-left: 10px;
        font-size: 25px;
    }
}

// .file-name {
//     border-bottom: 2px solid white;
//     padding: 10px 0 10px 0;
//     width: fit-content;
//     min-width: 200px;
// }


.example-spacer {
    flex: 1 1 auto;
  }